<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Shippingfee::shippingfee" title="Shipping Fee" module="Custom_Shippingfee" sortOrder="51" action="customshipping/shippingfee/add" resource="Custom_Shippingfee::shippingfee"/>
        <!-- <add id="Mageplaza_HelloWorld::post" title="Manage Posts" module="Mageplaza_HelloWorld" sortOrder="10" action="mageplaza_helloworld/post" resource="Mageplaza_HelloWorld::post" parent="Custom_Shippingfee::shippingfee"/> -->
        
    </menu>
</config>